body{
    font-family:gunplay regular ;
}
html{
    scroll-behavior: smooth;
}
/* -------------------------------- IZBORNIK POCETAK ---------------------- */
#navbar{
    background:black;
    height:48px;
    display:flex;
    width:100%;
    padding:0;
    position:fixed;
}
.xy{
    margin-left:15px;
}

#drop a{
    color:white;
}

.nav-link:hover{
    box-shadow: 0 2px aliceblue;
}


#searchbtn:hover{
    background:white;
    border:1px solid white;
    color:#87CEFA;
}
.dropdown-menu.show ul{
    margin:0;
}

.container-fluid{
    padding:0;
}

#searchbtn{
    color:white;
    border:1px solid white;
}




/* -------------------------------- IZBORNIK KRAJ ---------------------- */




/* -------------------------------- HOMEPAGE POCETAK ---------------------- */

#bgpic{
    width:100%;
    height:937px;
}




/* -------------------------------- HOMEPAGE KRAJ ---------------------- */