body{
    font-family:gunplay regular ;
}
html{
    scroll-behavior: smooth;
}
/* -------------------------------- IZBORNIK POCETAK ---------------------- */
#navbar{
    background:black;
    height:48px;
    display:flex;
    width:100%;
    padding:0;
    position:fixed;
}
.xy{
    margin-left:15px;
}
#navbar a{
    color:white;
}

.nav-link:hover{
    box-shadow: 0 2px aliceblue;
}


.container-fluid{
    padding:0;
}


/* -------------------------------- IZBORNIK KRAJ ---------------------- */




/* -------------------------------- HOMEPAGE POCETAK ---------------------- */

#bgpic{
    width:100%;
    height:937px;
}
#homebg{
    height:937px;
    background-image: url(/RD/media/bg.png);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:0;
    background-size: cover;
}
#homebg h1{
    font-size: 6rem;
    color:white;
}
#homebg h3{
    font-size:3rem;
    color:white;
}








/* -------------------------------- HOMEPAGE KRAJ ---------------------- */